:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
  
    --color-primary: rgb(71, 7, 234);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);
  
    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);
  
    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;
  
    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
  }

.settings-section {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .settings-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .setting-item {
    margin-bottom: 20px;
  }
  
  .setting-item label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .setting-item .switch {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .setting-item .switch:checked {
    background-color: #388e3c; /* Hijau ketika aktif */
  }
  
  .setting-item .switch:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: 0.3s;
  }
  
  .setting-item .switch:checked:before {
    transform: translateX(20px);
  }
  
  .setting-item select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  